html,body{
  margin: 0;
  height: 100%;
}
/*SEARCHBAR CSS START*/
.search-bar{
  background-color: white;
  border: none;
  border-width: 50%;
}
/*SEARCHBAR CSS END*/
/*HEADER CSS START*/
.title-header{
  font-size: 75px;
  font-family: Verdana, sans-serif;
}
/*HEADER CSS END*/
/*CARDS CSS START*/
.find-btn{
  background-color: white;
  color:black;
  border-color: black;
}
/*CARDS CSS END*/